<h1>Menu</h1>

<ul class="nav nav-pills">
  <% @sections.each do |section| %>
    <li class="nav-item">
      <%= link_to(section.name, menu_path(section: section.name),
                  class: "nav-link #{'active' if params[:section] == section.name}") %>
    </li>
  <% end %>   
</ul class="nav nav-pills"> 
<ul class="nav nav-pills">
  <li class="nav-item">
    <%= form_tag menu_path, :method => 'get' do  %>
      <p>
        <%= hidden_field_tag :section, params[:section] %>
        <%= text_field_tag :search, params[:search]%>
        <%= submit_tag "Search", :name => nil  %>
      </p>
    <% end %>
  </li> 
  <li class="nav-item">
    <%= link_to "sort by name", menu_path(:sort_param => "name ASC", section: params[:section]) ,class: "nav-link #{'active' if params[:sort_param] == "name ASC"} " %> 
  </li>
  <li class="nav-item">
    <%= link_to "price low to high", menu_path(:sort_param => "price ASC", section: params[:section]) ,class: "nav-link #{'active' if params[:sort_param] == "price ASC"} " %> 
  </li>
    <li class="nav-item">
    <%= link_to "price high to low", menu_path(:sort_param => "price DESC", section: params[:section]) ,class: "nav-link #{'active' if params[:sort_param] == "price DESC"} " %> 
  </li>
</ul class="nav nav-pills">  
  <% if @food_items.present? %>
    <br><br>

    <div id="row" class="row">
    <% @food_items.each do |food_item| %>
      <div class="card col-sm-4">
        <%=image_tag(food_item.fake_image_url, class: "card-img-top", alt: "Card image cap")%>
        <div id="card-block" class="card-block">
          <h4> 
            <%=link_to food_item.name, food_item_path(food_item), target: :_blank, class: "nav-link" %>
          </h4>
          <p class="card-text">
            price: <%= food_item.price %><br>
          </p>  
          <%=form_for LineItem.new(food_item: food_item), url: carts_add_path do |f| %>
          <%= f.hidden_field :food_item_id%> 
           <%= f.number_field :quantity, class: "form-control" %> 
          <%= f.submit "Order", class: "btn btn-primary" %>
          <% end %>
          
        </div>  
      </div>  
    <% end %>
    </div>
  <% end %>
